#animalDetail{
    margin:120px auto;
}
#AnimalIdentity {
    background-color: var(--third-color);
    box-sizing: border-box;
    width: 100%;
    max-width: 1000px;
    border: 7px solid black;
    border-radius: 15px;
    padding: 25px;
}

#AnimalIdentity>div>div>img{
    width: 250px;
    height: 200px;
    object-fit: cover;
    border-radius: 20px;
}

#AnimalIdentity>div>div{
    gap: 40px;
}

#AnimalIdentity>div>div>div{
    row-gap: 20px;
}

#AnimalIdentity>div>div>div>div{
    gap: 30px;
}


#raceAnimal{
    background-color: var(--blue-color);
    color: white;
    padding:4px 5px;
    border: 2px solid black;
    border-radius: 15px;
    width: fit-content;
}

.all-races{
    width: 175px;
    flex-wrap:wrap;
    text-align: center;
    gap: 5px;
    row-gap: 10px;
}

.sexe{
    gap: 10px;
}
.sexe > img {
    width: 40px;
}

#animalDescription{
    width: 100%;
    max-width: 900px;
    padding: 0;
    margin-bottom: 50px;
}


#animalDescription>div>div{
    align-items: flex-start;
    gap: 35px;
}

.animalIncompatibility{
    width: 200px;
    row-gap: 10px;
}

.animalIncompatibility img{
    width: 70px;
}

@media screen and (max-width: 768px) {
    #animalDetail {
        overflow: hidden;
        margin: 80px 0 25px;
    }
    #AnimalIdentity{
        margin: 0!important;
        margin-bottom: 25px !important;
        border: 10px solid; 
        border-radius: 0;
    }
    #AnimalIdentity>div>div {
        flex-direction: column-reverse;
    }

    #AnimalIdentity>div>div img {
        width: 80%;
        max-width: 320px;
    }

    #AnimalIdentity>div>div>div>div:nth-child(2) {
        flex-wrap: wrap;
        justify-content: center;
    }

    #animalDescription>div>div {
        flex-direction: column;
        align-items: center;
    }

    #animalDescription p{
        width: 80%;
        max-width: 600px;
    }

    #animalDescription #mainBtn{
        max-width: 80%;
    }
}