

#mainBtn, input[type ='submit'] {
    width: fit-content;
    height: fit-content;
    display: flex;
    margin: auto 0;
    padding: 10px 20px;
    border-radius: 20px;
    background-color: var(--last-color);
    font-size: 1.5em;
    color: white;
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    cursor:pointer;
}

#mainBtn:hover {
    box-shadow: 7px 7px 7px black;
    cursor: pointer;
}
#mainBtn:disabled {
  color: white;
  cursor: not-allowed;
  opacity: 0.5;
}

.btnInMain {
    margin: 0 auto 0 !important;
}
.btnIsSelected {
    background-color: #ee682a !important;
}
.welcomeSection{
    row-gap: 40px;
}



.checkPrice {
    border: 5px solid var(--last-color) !important;
    background-color: #e9bfac !important;
}
.donnationBtn{
    font-size: 1.2em !important;
    padding: 5px !important;
    border-radius: 13px !important;
}
#presentationAnimal{
    border: 10px solid black;
    width: 200px;
    height: 275px;
    background-color: var(--third-color);
    cursor: pointer;
}
#presentationAnimal>div:first-child{
    height: 134px;
    border-bottom: 10px solid black;
    overflow: hidden;
    position: relative;
}
#presentationAnimal>div:first-child>img:first-child{
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}
#presentationAnimal>div:first-child>:hover {
    cursor: pointer;
    z-index: -1;
    transform:scale(1.05);
}
#presentationAnimal>div:last-child{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: calc(100% - 134px);
    margin: auto 20px;
} 
.waiting {
    position: absolute;
    width: 50px;
    left: 150px;
    bottom: 5px;
    border-radius: 50px;
    z-index: 2;
}
.waiting:hover{
    pointer-events: none;
}
.verticalLine{
    border-right: 5px solid black;
    height: 60px;
    margin: 0 25px;
}
#presentationAnimal>div:last-child>img{
    width: 40px;
    height: 40px;
}

#presentationAnimal>div>div>p{
    text-align: center;
}

.line {
    border-top: 0.3vw solid black;
    width: 90%;
    margin: 0 auto;
}


#allAnimal {
    display: flex;
    flex-wrap:wrap;
    gap: 40px;
    row-gap: 20px;
    justify-content: flex-start;
    align-items: flex-start;
    /* Alignement en haut */
    width: 100%;
    padding: 20px;
    min-height: fit-content;
}

#allAnimal>section {
    /* Coins arrondis */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    /* Légère ombre */
}

.mediator {
    max-width: 600px !important;
    justify-content: center !important;
}

.logout {
    justify-content: center;
    align-items: flex-end;
    width: 100%;
}

.logout img {
    width: 60px;
    height: 60px;
    margin-left: auto;
    cursor: pointer;
} 
#plusBtn {
    width: 50px;
    margin: auto;
}

#personnalInfo .contentDiv{
   row-gap: 10px;
}

.userMessage{
    margin-bottom: 25px;
}

.alertBox {
    background-color: var(--blue-color);
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    width: 350px;
    row-gap: 15px !important;
    padding: 20px 0;
    border-radius: 25px;
    border: 10px solid var(--secondary-color);
}
.alertBox img{
    width: 70px !important;
    height: 70px !important;
    background-color: white;
}
.alertBox #mainBtn {
    padding:5px 20px;
}
.chooseFile{
    width: fit-content;
    margin: auto;
}
.chooseFile input {
    display: none;
    
}

.chooseFile label {
    padding: 15px 20px;
    background-color: var(--third-color);
    cursor: pointer;
    border: 5px solid var(--last-color);
    color: black;
    border-radius: 5px;
    display: inline-block;
}

.floatFormField{
    background-color: var(--blue-color);
    color: white;
    padding: 20px 25px;
    border-radius: 25px;
    border: 10px solid black;
    box-sizing: border-box;
    max-width: 500px;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: 5;
}

.floatFormField.isTop {
    top:0;
    transform: translateX(-50%) translateY(0)
}

.floatFormField>div{
    width: 100%;
}

.floatFormField h3{
    text-decoration: underline;
    padding:0 25%;
     white-space: nowrap;
}

.eye {
    position: absolute;
    right: 25px;
    color: black;
    font-size: 20px;
    top: 50%;
    transform: translateY(-50%);
}

.floatFormField .closeImg{
    display: flex;
    width: 40px !important;
}

.floatFormField form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

#areYouSure{
    row-gap: 25px;
    width: 300px;
    padding: 25px;
}
.custom-select{
    width: 100%;
    position: relative;
    color: black;
    border-radius: 15px;
    font-size: 1em;
    height: 100%;
    background-color: white;
    padding-bottom: 1px;
}

.custom-select.isOpen{
    border-radius: 15px 15px 0 0;
}

.custom-select .search-container{
    margin: 10px auto;
    width: fit-content;
}

.custom-select .search-container>input {
    width: 200px;
    padding: 10px;
    padding-left: 35px;
}

.custom-select .search-container .search-icon{
    left: 10px;
}

.custom-select .select-box{
    justify-content: space-between;
    color: black;
    padding: 15px 10px;
    box-sizing: border-box;
    width: 100%;
    border-radius: 15px;
    font-size: 0.8em;
    cursor: pointer;
    background-color: white;
    text-align: left;
    
}

.custom-select .options-container{
    position: absolute;
    top: 100%;
    color:black;
    left: 0;
    right: 0;
    background-color: #fff;
    max-height: 150px;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 10;
    border-radius:0 0 15px 15px;
}
.custom-select label{
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
}
.custom-select .options-container .option{
    border:3px solid black;
    border-bottom: none;
    font-size: .8em;
    width: 100%;
    padding-left: 20px;
    box-sizing: border-box;
    text-align: left;
}

.custom-select .check{
    width: 15px;
    height: 15px;
}

.custom-select .checkbox input:checked ~ .check {
    border: 3px solid white;
    outline: 2px solid var(--blue-color);
    border-radius: 1px;
    width: 10px;
    height: 10px;
}

.custom-select .options-container .option:hover{
    background-color: rgb(209, 208, 208);
}

@media screen and (max-width:1180px) {
    #presentationAnimal .verticalLine {
        margin:10px;
    }
    #presentationAnimal {
        border: 10px solid black;
        background-color: var(--third-color);
        min-width: 200px;
    }

    #presentationAnimal>img {
        width: 100%;
        height: 125px;
        object-fit: cover;
        border-bottom: 10px solid black;
        overflow: hidden;
    }

    #mainBtn,
    input[type='submit'] {
            padding: 7px 15px;
            border-radius: 20px;
            box-shadow: 5px 5px 5px black;
            font-size: 1.4em;
        }
    #allAnimal>section {
        box-sizing: border-box;
        border-radius: 8px;
        /* Coins arrondis */
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }

}

@media screen and (max-width:768px) {
    .welcomeSection .welcomeTitle {
        flex-direction: column;
        row-gap: 10px;
    }
    #presentationAnimal .verticalLine {
        margin: 10px;
        border-right: none;
        border-top: 5px solid;
        width: 90%;
        height: 0;
    }
    #allAnimal {
        flex-direction: row;
        margin: 0 auto;
        row-gap: 20px;
        justify-content:center  !important;
        /* Alignement en haut */
        max-width: 600px;
        padding: 20px;
        width: fit-content;
    }

    #presentationAnimal {
        border: 10px solid black;
        background-color: var(--third-color);
        min-width: 200px;
        height: 300px;
    }

    #allAnimal>section {
        box-sizing: border-box;
        border-radius: 8px;
        /* Coins arrondis */
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }
    #presentationAnimal>div:last-child {
        flex-direction: column;
        margin:0 10px
    }
    #presentationAnimal>div:last-child>div{
        overflow:visible;
    }

    .logout {
        flex-direction: column-reverse;
        align-items: center;
        margin-top: 35px;
    }

    .logout>img{
        margin: 0;
    }

    .floatFormField>.flex-row {
        flex-direction: column-reverse;
    }

    .floatFormField tbody td {
        display: block;
        text-align: left;
    }
}

.closeImg {
    width: 50px !important;
    height: auto;
    margin: 20px !important;
    cursor: pointer;
}