

#mainBtn, input[type ='submit'] {
    width: fit-content;
    height: fit-content;
    display: flex;
    margin: auto 0;
    padding: 10px 20px;
    border-radius: 20px;
    background-color: var(--last-color);
    font-size: 1.5em;
    color: white;
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    cursor:pointer;
}

#mainBtn:hover {
    box-shadow: 7px 7px 7px black;
    cursor: pointer;
}

.btnInMain {
    margin: 0 auto 0 !important;
}
.btnIsSelected {
    background-color: #ee682a !important;
}
.welcomeSection{
    row-gap: 40px;
}

.checkPrice {
    border: 5px solid var(--last-color) !important;
    background-color: #e9bfac !important;
}
.donnationBtn{
    font-size: 1.2em !important;
    padding: 5px !important;
    border-radius: 13px !important;
}
#presentationAnimal{
    border: 10px solid black;
    width: 200px;
    height: 275px;
    background-color: var(--third-color);
    cursor: pointer;
}
#presentationAnimal>div:first-child{
    height: 134px;
    border-bottom: 10px solid black;
    overflow: hidden;
}
#presentationAnimal>div:first-child>img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#presentationAnimal>div:first-child>:hover {
    cursor: pointer;
    z-index: -1;
    transform:scale(1.05);
}
#presentationAnimal>div:last-child{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: calc(100% - 134px);
    margin: auto 20px;
}
.verticalLine{
    border-right: 5px solid black;
    height: 60px;
    margin: 0 25px;
}
#presentationAnimal>div:last-child>img{
    width: 40px;
    height: 40px;
}

#presentationAnimal>div>div>p{
    text-align: center;
}

.line {
    border-top: 0.3vw solid black;
    width: 90%;
    margin: 0 auto;
}


#allAnimal {
    display: flex;
    flex-wrap:wrap;
    gap: 40px;
    row-gap: 20px;
    justify-content: flex-start;
    align-items: flex-start;
    /* Alignement en haut */
    width: 100%;
    padding: 20px;
    min-height: fit-content;
}

#allAnimal>section {
    /* Coins arrondis */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    /* Légère ombre */
}

.mediator {
    max-width: 600px !important;
    justify-content: center !important;
}

.logout {
    justify-content: center;
    align-items: flex-end;
    width: 100%;
}

.logout img {
    width: 60px;
    height: 60px;
    margin-left: auto;
    cursor: pointer;
}



@media screen and (max-width:1180px) {
    #presentationAnimal .verticalLine {
        margin:10px;
    }
    #presentationAnimal {
        border: 10px solid black;
        background-color: var(--third-color);
        min-width: 200px;
    }

    #presentationAnimal>img {
        width: 100%;
        height: 125px;
        object-fit: cover;
        border-bottom: 10px solid black;
        overflow: hidden;
    }

    #mainBtn,
    input[type='submit'] {
            padding: 7px 15px;
            border-radius: 20px;
            box-shadow: 5px 5px 5px black;
            font-size: 1.4em;
        }
    #allAnimal>section {
        box-sizing: border-box;
        border-radius: 8px;
        /* Coins arrondis */
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }

}

@media screen and (max-width:768px) {
    #presentationAnimal .verticalLine {
        margin: 10px;
        border-right: none;
        border-top: 5px solid;
        width: 90%;
        height: 0;
    }
    #allAnimal {
        flex-direction: row;
        margin: 0 auto;
        row-gap: 20px;
        justify-content:center  !important;
        /* Alignement en haut */
        max-width: 600px;
        padding: 20px;
        width: fit-content;
    }

    #presentationAnimal {
        border: 10px solid black;
        background-color: var(--third-color);
        min-width: 200px;
        height: 300px;
    }

    #allAnimal>section {
        box-sizing: border-box;
        border-radius: 8px;
        /* Coins arrondis */
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }
    #presentationAnimal>div:last-child {
        flex-direction: column;
        margin:0 10px
    }
    #presentationAnimal>div:last-child>div{
        overflow:visible;
    }

    .logout {
        flex-direction: column-reverse;
        align-items: center;
        margin-top: 35px;
    }

}

.closeImg {
    width: 50px !important;
    height: auto;
    margin: 20px !important;
    cursor: pointer;
}