#donnationPage {
    max-width: 100%;
}
#donnationPage h1{
    text-align: left;
    width: 95%;
    margin: 25px 0;
}

#donnationPrice {
    display: flex;
    background-color: white;
    width: 30px;
    padding: 5px 6px;
    border: 3px solid var(--last-color);
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

#donnationPrice input {
    display: none;
    /* Cache complètement l'input radio */
}

#donnationData>form{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}
#donnationData>form>section{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    row-gap: 15px;
    background-color: var(--third-color);
    padding: 30px 20px;
    border-radius: 20px;
    border: 4px solid black;
    height: fit-content;
}


#informationDonnation>div{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

#donnationData input:not(input[type=radio]), select {
    padding: 8px 7px;
    border-radius: 10px;
    width: 92%;
    margin:5px 0;
}
#coordonateDonnation {
    width: 400px !important;
}



#coordonateDonnation>div>div{
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 98%;
}


select{
    width: 98%;
    background-color: white;
}
#donnationPage select:first-child {
    padding: 1px 7px !important;
}

.PhoneInputInput, select {
    border:3px solid var(--blue-color);
}
.PhoneInputCountry{
    display: flex;
    flex-direction: row;
}

#allPayment{
    display: flex;
    flex-direction: row;
    gap: 25px;
}
.payment{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.payment img{
    width: 50px;
    cursor: pointer;
}

.creditCardType{
    gap: 10px;
    align-items: end;
}

#payementDonnation>div>div{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 25px;
}

.selectPaymentType, .selectPaymentType>img{
    color: orangered
}

#payementDonnation #mainBtn{
    font-size: 1.3em;
}

@media screen and (max-width:1180px) {
    #donnationData>form{
        flex-direction: column;
        align-items: center;
    }

    #donnationData>form>section{
        width: 400px;
    }
}

@media screen and (max-width: 768px) {
    #donnationPage{
        background-color: var(--third-color);
        margin:80px 0 0;
        padding-bottom: 40px;
    }

    #informationDonnation #mainBtn{
        font-size: 1em !important;
    }

    #donnationData>form>section {
        padding: 15px 0;
        width: 100%;
        border-radius: 0px;
        border: none;
        
    }

    #informationDonnation input{
        margin: 30px;
        max-width: 325px;
    }

    #donnationData select {
        width: 100%;
        padding: 7px auto !important;
    }
    #donnationData>form>section:not(:last-child) {
        border-bottom: 3px solid black;
    }
    #coordonateDonnation {
        width: 95vw !important;
    }
    #coordonateDonnation>div select,#donnationPage select:first-child{
        padding: 8px 12px !important;
    }
   #coordonateDonnation>div {
       display: flex;
       box-sizing: border-box;
       flex-direction: column;
       align-items: center;
       width: auto;
       max-width: 600px;
       min-width: 280px;
       margin: 0 30px;
       /* Centre le div au milieu */
       /* Ajoute un peu d'espace interne */
   }
   #coordonateDonnation input {
       width: 95% !important;
       margin: 5px 0;
   }

    #coordonateDonnation>div>div:not(:last-child){
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        gap: 0;
    }
}

