@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

:root {
    --primary-color: #D2FDFF;
    --secondary-color: #B4DFE5;
    --third-color: #FBE8A6;
    --blue-color:#3079B6;
    --last-color: #F4976C;
}

*{
    margin: 0;
}
html {
    background-color: var(--primary-color);
}
h1,h2 {
    text-align: center;
}
h1{
    font-size: 2.6em;
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
}

h2{
    font-size: 2.2em;
    text-decoration: underline;
    font-family: "IBM Plex Mono", monospace;
    font-weight: 400;
    font-style: normal;
}
h3{
    font-size: 1.5em;
}

form{
    width: 100%;
}

p,label, a,li, td {
    font-size: 1.2em;
    font-family: "Source Serif 4", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}
li{
    font-weight: 500;
}
label, input[type=radio] {
    cursor: pointer;
}
main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    max-width: 900px;
    margin:120px auto 50px;
    row-gap:40px;
    min-height: calc(100vh - 412px);
}

input[type='text'], input[type='search'], textarea,input[type=number], input[type="password"], input[type=date] {
    border: 3px solid var(--blue-color);
    border-radius: 20px;
    padding: 17px 12px;
    width: 100%;
    box-sizing: border-box;
}


input[type='search'] {
    padding-left: 45px;
    width: 300px;
}

input[type='radio']
{
    margin-right: 10px;
    box-sizing: border-box;
    width: 15px;
    height: 15px;
    padding: 0;
    border: none;
    border-radius: 50%;
    appearance: none;
    background-color: transparent;
    outline: 2px solid white;
}

h4 {
    font-size: 1.3em;
    text-align: center;
}
.checkbox, .radio{
    position: relative;
    font-size: 1.4em;
    display: block;
    padding-left: 40px;
    cursor: pointer;
}
.checkbox input, .radio input{
    position: absolute;
    visibility: hidden;
    outline: none;
    cursor: pointer;
}

.radio .check{
    border-radius: 50px;
}

.check{
    position: absolute;
    height: 23px;
    width: 23px;
    border-radius: 2px;
    background-color: white;
    border: 2px solid var(--blue-color);
    top:50%;
    transform: translateY(-50%);
    left: 0;
}
.checkbox:hover input ~ .check, .radio:hover input~.check {
    background-color: transparent;
    background-color: rgb(204, 204, 204);
}
.checkbox input:checked ~ .check, .radio input:checked~.check{
    background-color: var(--blue-color);
    border: 4px solid white;
    outline: 3px solid var(--blue-color);
    border-radius: 1px;
    width: 16px;
    height: 16px;
}

.chevron-down-icon {
    font-size: 10px;
}
.radio input:checked~.check {
    border-radius: 50px;
}

input[type='radio']:checked
{
    border: 3px solid var(--last-color);
}

select{
    padding: 15px 10px;
    padding-bottom: 15px;
    border-radius: 15px;
}

.formError {
    font-size: 1.5em;
    margin-top: 10px;
    color: rgb(160, 4, 4);
}

.underline{
    text-decoration: underline;
}

a {
    width: fit-content;
    text-decoration: none;
    cursor: pointer;
    white-space: nowrap;
}
.flex-row, .flex-column{
    display: flex;
}
.flex-row{
    flex-direction: row;
}

.flex-column {
    flex-direction: column;
}

.alignCenter-AJ{
    justify-content: center;
    align-items: center;
}

.editLink {
    text-decoration: underline;
    color: rgb(14, 46, 151);
    cursor: pointer;
    margin-left: 15px;
}

.relative{
    position: relative;
    width: 100%;
}

table>tr, table{
    width: 100%;
}

td{
    text-align: center;
}

.row-gap-15{
    row-gap: 15px;
}

.row-gap-25 {
    row-gap: 25px;
}

.gap-15 {
    gap: 15px;
}
.gap-25{
    gap: 25px;
}

@media screen and (max-width:1180px) {
    h2{
        font-size: 1.8em;
    }

    main {
        margin: 120px 40px 40px;
    }
}

@media screen and (max-width:768px) {
    main {
        margin: 120px 20px 40px;
    }
}

